# PostgreSQL Settings (Neon DB)
POSTGRES_USER=neondb_owner
POSTGRES_PASSWORD=npg_cHAkL7G5pEeg
POSTGRES_HOST=ep-wandering-bread-azyvthgj-pooler.c-3.ap-southeast-1.aws.neon.tech
POSTGRES_PORT=5432
POSTGRES_DB=neondb
POSTGRES_SSLMODE=require

# Airflow Settings
AIRFLOW_UID=50000

# Strava API Secrets
STRAVA_CLIENT_ID=your_client_id_here
STRAVA_CLIENT_SECRET=your_client_secret_here
STRAVA_REFRESH_TOKEN=your_refresh_token_here